<table class="table table-striped col-4">
    <thead>
        <tr>
            <td class="header">Tag</td>
            <td class="header">Count</td>
        </tr>
    </thead>
    <tbody>
        <tr v-for="tag in tags">
            <td>{{tag.name}}</td>
            <td>{{tag.count}}</td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="input-group">
                    <input type="text" class="form-control" v-model="newTagName">
                    <div class="input-group-append">
                    <button class="btn btn-primary" type="button" v-on:click="addTag()">Add</button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>